---
import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { m } from "@paraglide/messages";
import { Icon } from "astro-icon/components";
import Footer from "./Footer.astro";
import LanguageSelector from "./LanguageSelector.astro";
import SearchInput from "./SearchInput.astro";
import ThemeSelector from "./ThemeSelector.astro";

interface Props {
	post?: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const locale = Astro.currentLocale!;

const menuItems = [
	{ title: m.common__home(), href: getRelativeLocaleUrl(locale, "/") },
	{
		title: m.common__blog(),
		href: getRelativeLocaleUrl(locale, "/blog"),
		items: [
			{ title: m.blog__all_posts_title(), href: getRelativeLocaleUrl(locale, "/blog/posts/") },
			{ title: m.blog__featured_posts_title(), href: getRelativeLocaleUrl(locale, "/blog/posts/featured") },
			{ title: m.blog__tags(), href: getRelativeLocaleUrl(locale, "/blog/tags") },
		],
	},
	{ title: m.projects__projects(), href: getRelativeLocaleUrl(locale, "/projects") },
	{
		title: m.common__about(),
		href: getRelativeLocaleUrl(locale, "/about"),
		items: [{ title: m.common__resume(), href: getRelativeLocaleUrl(locale, "/about/resume") }],
	},
];
---

<div class="drawer min-h-svh">
	<input id="drawerMenu" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content mx-auto flex w-full max-w-[1344px] flex-col px-0 lg:px-4">
		<!-- Navbar -->
		<nav class="navbar sticky top-0 z-10 mx-auto mb-2" id="navbar">
			<div class="flex-none lg:hidden">
				<label for="drawerMenu" aria-label="open sidebar" class="btn btn-square btn-ghost">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-6 w-6 stroke-current">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
					</svg>
				</label>
			</div>
			<div class="navbar-start">
				<ul class="menu p-0">
					<li>
						<a class="p-2 text-xl" href={getRelativeLocaleUrl(locale, "/")} title={m.common__home()} aria-label={m.common__home()}>
							<Icon class="logo" name="dh-logo" size={28} />
						</a>
					</li>
				</ul>
				<div class="hidden lg:flex">
					<ul class="menu menu-horizontal px-1">
						{
							menuItems.map((i) => {
								if (!i.items) {
									return (
										<li>
											<a href={i.href} aria-label={i.title}>
												{i.title}
											</a>
										</li>
									);
								}

								if (i.items) {
									return (
										<li class="dropdown dropdown-hover">
											<a href={i.href} aria-label={i.title}>
												{i.title}
											</a>
											<ul class="dropdown-content menu bg-base-200 text-base-content ml-0 w-56 shadow-md">
												{i.items.map((d) => {
													return (
														<li>
															<a href={d.href} aria-label={d.title}>
																{d.title}
															</a>
														</li>
													);
												})}
											</ul>
										</li>
									);
								}
							})
						}
					</ul>
				</div>
			</div>
			<div class="navbar-end hidden gap-2 lg:flex">
				<SearchInput />
				<LanguageSelector post={post} />
				<ThemeSelector />
			</div>
		</nav>
		<!-- Page content -->
		<div class="flex h-full flex-col px-4 lg:mx-2 lg:px-0">
			<slot />
			<div class="mt-auto">
				<Footer />
			</div>
		</div>
	</div>
	<div class="drawer-side z-20 lg:hidden">
		<label for="drawerMenu" aria-label="close sidebar" class="drawer-overlay"></label>
		<aside class="bg-base-200 min-h-screen w-72 p-4">
			<SearchInput inDrawer />
			<div class="mb-4"></div>
			<ul class="menu p-0">
				{
					menuItems.map((i) => {
						if (!i.items) {
							return (
								<li>
									<a href={i.href} aria-label={i.title}>
										{i.title}
									</a>
								</li>
							);
						}

						if (i.items) {
							return (
								<li>
									<a href={i.href} aria-label={i.title}>
										{i.title}
									</a>
									<ul>
										{i.items.map((d) => {
											return (
												<li>
													<a href={d.href} aria-label={d.title}>
														{d.title}
													</a>
												</li>
											);
										})}
									</ul>
								</li>
							);
						}
					})
				}
			</ul>
			<div class="divider"></div>
			<div class="flex flex-col items-center gap-4">
				<LanguageSelector post={post} />
				<ThemeSelector inDrawer />
			</div>
		</aside>
	</div>
</div>

<style>
	.navbar {
		transition:
			transform 300ms ease,
			background-color 300ms ease;
		&.hide {
			transform: translateY(calc((100% + 5px) * -1));
		}
	}
</style>

<script is:inline>
	const navbar = document.getElementById("navbar");
	let lastScrollTop = window.pageYOffset || document.documentElement.scrollTop;

	window.addEventListener("scroll", () => {
		const currentScroll = window.pageYOffset || document.documentElement.scrollTop;

		// if we're pinned at the top, always show the navbar and reset
		if (currentScroll <= 0) {
			document.documentElement.dataset.navbarHidden = false;
			navbar.classList.remove("hide", "bg-base-100");
			lastScrollTop = 0;
			return;
		}

		if (currentScroll < lastScrollTop) {
			document.documentElement.dataset.navbarHidden = false;
			navbar.classList.remove("hide");
		} else {
			document.documentElement.dataset.navbarHidden = true;
			navbar.classList.add("hide");
		}

		navbar.classList.toggle("bg-base-100", currentScroll !== 0);

		lastScrollTop = currentScroll;
	});
</script>
