---
// Credits: https://github.com/yassinedoghri/astro-i18next/blob/beta/src/components/LanguageSelector.astro
// Edited for this project needs.

import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { type Locale, locales } from "@paraglide/runtime";
import { getBlogPostTranslations, getBlogPostUrl } from "@utils/content";
import { getPathFromUrl } from "@utils/i18n";
import ISO6991 from "iso-639-1";

interface Props {
	post?: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const currentLocale = Astro.currentLocale!;
const capitalizeFirstLetter = (str: string) => {
	const capitalized = str.charAt(0).toUpperCase() + str.slice(1);
	return capitalized;
};
const translations = post ? await getBlogPostTranslations(post) : [];
---

<lang-select>
	<select class="select select-sm w-full max-w-xs cursor-pointer shadow-md">
		{
			!post &&
				locales.map((locale) => {
					// For whatever reason the getRelativeLocaleUrl() for path "/" always adds a trailing slash
					// even when it is not set in the config.
					const value = getRelativeLocaleUrl(locale, getPathFromUrl(Astro.url, import.meta.env.BASE_URL));
					const nativeName = capitalizeFirstLetter(ISO6991.getNativeName(locale));
					const current = currentLocale === locale;

					return (
						<>
							<option selected={current} data-transition-enable data-language={locale} value={value}>
								{nativeName}
							</option>
						</>
					);
				})
		}
		{
			post &&
				translations.map((post) => {
					const value = getBlogPostUrl(post.data.locale as Locale, post);
					const nativeName = capitalizeFirstLetter(ISO6991.getNativeName(post.data.locale));
					const current = currentLocale === post.data.locale;

					return (
						<>
							<option selected={current} data-transition-enable data-language={post.data.locale} value={value}>
								{nativeName}
							</option>
						</>
					);
				})
		}
	</select>
</lang-select>

<script>
	import { type Locale, cookieName } from "@paraglide/runtime";
	import cookie from "js-cookie";
	import { Logger } from "@logger";

	class LanguageSelect extends HTMLElement {
		select = this.querySelector("select")!;
		logger = new Logger("language-select");

		connectedCallback() {
			// Why does this happen?
			this.select.addEventListener("mousedown", (e) => {
				(e.target as HTMLSelectElement).focus({ preventScroll: true });
			});

			this.select.addEventListener("change", (e) => {
				e.preventDefault();

				if (e.currentTarget instanceof HTMLSelectElement) {
					const lang = e.currentTarget.options[e.currentTarget.selectedIndex].dataset.language! as Locale;
					cookie.set(cookieName, lang, { expires: 30 });
					const next = e.currentTarget.value + window.location.search;
					this.logger.info("Navigating to: " + next);
					window.ViewTransitions.startTransition();
					window.location.href = next;
				}
			});
		}
	}
	customElements.define("lang-select", LanguageSelect);
</script>
