---
type Heading = "h2" | "h3" | "h4";

export interface Props {
	title?: string;
	description?: string;
	isFirstSection?: boolean;
	isInsideSection?: boolean;
	heading?: Heading;
	id: string;
}

const { title, description = null, id, isFirstSection = false, heading = "h2", isInsideSection = false } = Astro.props;
---

<section class={`has-[+section]:mb-8 ${isInsideSection === false ? "section" : "block"}`} id={id}>
	{
		title && (
			<Fragment>
				{isFirstSection && <h1 class={`${description === null ? "mb-5" : "mb-3"}`}>{title}</h1>}
				{!isFirstSection && heading === "h2" && <h2 class={`${isInsideSection ? "text-3xl" : "text-4xl"} ${description === null ? "mb-5" : "mb-3"}`}>{title}</h2>}
				{!isFirstSection && heading === "h3" && <h3 class={`${description === null ? "mb-5" : "mb-3"}`}>{title}</h3>}
				{!isFirstSection && heading === "h4" && <h4 class={`${description === null ? "mb-5" : "mb-3"}`}>{title}</h4>}
			</Fragment>
		)
	}
	{description && <p class="mb-5">{description}</p>}
	<slot name="subtitle" />
	<div>
		<slot />
	</div>
</section>
