---
type Heading = "h2" | "h3" | "h4";

export interface Props {
	title?: string;
	description?: string;
	isFirstSection?: boolean;
	isInsideSection?: boolean;
	heading?: Heading;
	id: string;
}

const { title, description = null, id, isFirstSection = false, heading = "h2", isInsideSection = false } = Astro.props;

const Tag = isFirstSection ? "h1" : heading;
const titleMarginClass = description === null ? "mb-5" : "mb-3";
let headingSizeClass = "";
if (!isFirstSection && heading === "h2") {
	headingSizeClass = isInsideSection ? "text-2xl" : "text-3xl";
}
const titleClass = [headingSizeClass, titleMarginClass].filter(Boolean).join(" ");
const sectionWrapperClass = isInsideSection ? "block" : "section";
const sectionClasses = `has-[+section]:mb-8 ${sectionWrapperClass}`;
---

<section class={sectionClasses} id={id}>
	{
		title && (
			<>
				<Tag class={titleClass}>{title}</Tag>
				{description && <p class="mb-5">{description}</p>}
			</>
		)
	}
	<slot name="subtitle" />
	<div>
		<slot />
	</div>
</section>
