---
import { Icon } from "astro-icon/components";
import Tooltip from "../global/Tooltip.astro";

export type DevListItem = {
	label: string;
	iconName: string;
};

export interface Props {
	label: string;
	iconName: string;
}

const { label, iconName } = Astro.props;
const isPrint = Astro.locals.isPrint;
---

{isPrint && <li>{label}</li>}

{
	!isPrint && (
		<li>
			<span class="sr-only">{label}</span>
			<Tooltip text={label} placement="bottom">
				<div>
					<Icon name={`devicon:${iconName}`} size={52} aria-label={label} title={label} />
				</div>
			</Tooltip>
		</li>
	)
}
