---
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "$messages";
import BreadCrumbs from "@components/astro/blog/BreadCrumbs.astro";
import BreadCrumbsItem from "@components/astro/blog/BreadCrumbsItem.astro";
import PostsGrid from "@components/astro/blog/PostsGrid.astro";
import Section from "@components/astro/global/Section.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { allPostsByTagQuery } from "@services/sanity/queries/posts";
import { runQuery } from "@services/sanity/runQuery";

const { tag } = Astro.params;

if (!tag) {
    return new Response(null, { status: 404 });
}

const locale = Astro.currentLocale!;
const posts = await runQuery(allPostsByTagQuery, { language: locale, tag: tag });

if (posts.length === 0) {
    return new Response(null, { status: 404 });
}

const currentTag = posts[0].tags.find((t) => {
    return t.value === tag;
});

const tagTitle = currentTag?.label!;
const tagDescription = `${m.blog__posts_tagged()} #${tagTitle}`;
const layoutProps = {
    title: `${m.blog__tag()}: #${tagTitle}`,
    description: tagDescription,
};
---

<PageLayout {...layoutProps}>
    <BreadCrumbs>
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/")} label={m.common__home()} />
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog")} label="Blog" />
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog/tags/")} label={m.blog__tags()} />
        <BreadCrumbsItem currentPage={true} label={tagTitle} />
    </BreadCrumbs>
    <Section isFirstSection id="taggedPosts" sectionTitle={tagDescription}>
        {!posts && <p>{m.blog__no_tagged_posts()}</p>}
        {posts && posts.length === 0 && <p>{m.blog__no_tagged_posts()}</p>}
        {posts && posts.length !== 0 && <PostsGrid posts={posts} />}
    </Section>
</PageLayout>

<style>
    ul {
        display: grid;
        grid-template-rows: 1fr;
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 468px) {
            grid-template-columns: 1fr;
        }
    }
</style>
