---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import FormattedDate from "@components/astro/blog/FormattedDate.astro";
import type { AllowedLocales } from "@i18n-config";
import { getBlogPostImageUrl, getBlogPostUrl } from "@utils/content";
import Icon from "node_modules/astro-icon/components/Icon.astro";
import TagList from "./TagList.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const locale = Astro.currentLocale as AllowedLocales;
const postUrl = getBlogPostUrl(locale, post);
const relatedTags = await getEntries(post.data.tags);
const image = getBlogPostImageUrl(locale, post, Astro.url);

const { pubDate, modDate, title, description } = post.data;
---

<article class="card bg-base-200 h-full max-w-full shadow-xl">
	<figure class="skeleton">
		<a href={postUrl}>
			<Image class="post-image" src={image} alt={title} width={1200} height={630} loading="lazy" />
		</a>
	</figure>

	<div class="card-body">
		{post.data.hidden && <div class="badge bg-error text-error-content absolute top-3 left-3">Hidden</div>}
		<h2 class="card-title flex flex-col items-start">
			<a href={postUrl}>{title}</a>
		</h2>
		<div class="badge badge-primary"><FormattedDate pubDate={pubDate} modDate={modDate} locale={locale} /></div>
		<p>{description}</p>
		<div class="card-actions mt-4 justify-start">
			<TagList tags={relatedTags!} />
		</div>
	</div>
</article>
