---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import FormattedDate from "@components/astro/blog/FormattedDate.astro";
import type { AllowedLocales } from "@i18n-config";
import { getBlogPostImageUrl, getBlogPostUrl } from "@utils/content";
import Icon from "node_modules/astro-icon/components/Icon.astro";
import TagList from "./TagList.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const locale = Astro.currentLocale as AllowedLocales;
const postUrl = getBlogPostUrl(locale, post);
const relatedTags = await getEntries(post.data.tags);
const image = getBlogPostImageUrl(locale, post, Astro.url);

const { pubDate, modDate, title, description } = post.data;
---

<article class="card">
	<div class="card-image is-skeleton">
		<figure class="image is-5by3">
			<a href={postUrl}>
				<Image class="post-image" src={image} alt={title} width={1200} height={630} loading="lazy" />
			</a>
		</figure>
	</div>
	<div class="card-content">
		<div class="media">
			<div class="media-content">
				<a class="is-size-4" href={postUrl}>{title}</a>
				<p><FormattedDate pubDate={pubDate} modDate={modDate} locale={locale} /></p>
			</div>
		</div>
		<div>
			<p class="block">{description}{post.data.hidden && <div class="post-hidden">HIDDEN</div>}</p>
			<div class="block">
				<TagList tags={relatedTags!} />
			</div>
		</div>
	</div>
</article>

<style>
	.post-hidden {
		position: absolute;
		color: red;
		top: 10px;
		left: 10px;
		background-color: black;
		border-radius: 5rem;
		display: block;
		padding: 0.5rem;
	}
</style>
