---
import MainLayout from "@layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import ScrollIndicator from "@components/astro/resume/ScrollIndicator.astro";
import Timeline from "@components/astro/resume/Timeline.astro";
import { getStaticPaths } from "@i18n/utils";

export { getStaticPaths };

// Images
import profilePicture from "@assets/img/profile/me.png";
import abbyyLogo from "@assets/img/company-logos/ABBYY.png";
import mfilesLogo from "@assets/img/company-logos/m-files.png";
import msftLogo from "@assets/img/company-logos/MSFT_BIG.png";
import nintextLogo from "@assets/img/company-logos/nintex-logo-white.png";

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["resume", "shared"];
await loadNamespaces(locale, namespaces);
---

<MainLayout title={t("shared:NamePossesive") + " " + t("shared:Resume")} description={t("shared:Description")}>
    <main class="resume-content">
        <!-- Introduction -->
        <section class="hero-container" id="hero">
            <div class="hero">
                <div class="profile-picture-wrapper">
                    <Image class="profile-picture" src={profilePicture} width={220} height={220} format="webp" alt="Profile picture" />
                </div>
                <div class="hero-title-wrapper">
                    <h1 class="hero-title gradient-text">
                        Dalibor<br />
                         Hon
                    </h1>
                    <p>BUSINESS CONSULTANT</p>
                </div>
            </div>
            <div class="section-footer noprint">
                <ScrollIndicator href="#intro" />
            </div>
        </section>
        <section class="resume-section skills" id="intro">
            <div class="section-content">
                <h2 class="gradient-text">{t("resume:SectionIntro")}</h2>
                <div class="intro-projects">
                    <div>
                        <div class="content">
                            <div class="skill-level">
                                <span>+</span>
                                <h3>45 {t("resume:CardProjectTitle")}</h3>
                            </div>
                        </div>
                    </div>
                    <p>{t("resume:CardProjectDetail")}</p>
                </div>
                <div class="intro-summary">
                    <div class="bars">
                        <div class="bar">
                            <h3>{t("resume:CardBATitle")}</h3>
                            <div class="fill" style="--width: 80%"></div>
                            <p>{t("resume:CardBADetail")}</p>
                        </div>
                        <div class="bar">
                            <h3>{t("resume:CardImplementationTitle")}</h3>
                            <div class="fill" style="--width: 60%"></div>
                            <p>{t("resume:CardImplementationDetail")}</p>
                        </div>
                        <div class="bar">
                            <h3>{t("resume:CardDevTitle")}</h3>
                            <div class="fill" style="--width: 20%"></div>
                            <p>{t("resume:CardDevDetail")}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="resume-section" id="skills">
            <div class="section-content">
                <h2 class="gradient-text">{t("resume:SectionSkills")}</h2>
                <p>
                    {t("resume:SkillsIntroduction")}
                </p>
                <div class="list-card exp">
                    <div class="exp-text">+ 2 {t("resume:SkillsYears")}</div>
                    <div class="exp-description">
                        <h3>{t("resume:SkillsBA")}</h3>
                        <span>{t("resume:SkillsBADescription")}</span>
                    </div>
                </div>
                <div class="list-card exp">
                    <div class="exp-text">+ 2 {t("resume:SkillsYears")}</div>
                    <div class="exp-description">
                        <h3>{t("resume:SkillsWindowsServers")}</h3>
                        <span>{t("resume:SkillsWindowsServersDescription")}</span>
                    </div>
                </div>
                <div class="list-card exp">
                    <div class="exp-text">+ 4 {t("resume:SkillsYears")}</div>
                    <div class="exp-description">
                        <h3>{t("resume:SkillsDatabases")}</h3>
                        <span>{t("resume:SkillsDatabasesDescription")}</span>
                    </div>
                </div>
                <div class="list-card exp">
                    <div class="exp-text">+ 1 {t("resume:SkillsYears")}</div>
                    <div class="exp-description">
                        <h3>{t("resume:SkillsOOP")}</h3>
                        <span>{t("resume:SkillsOOPDescription")}</span>
                    </div>
                </div>
                <div class="list-card">
                    <h3 class="dev-list-title">
                        {t("resume:SkillsProgrammingLangAndTools")}
                        <span><i class="bi bi-info-circle" data-tooltip="top" data-tooltip-text={t("resume:HoverIconsTooltip")}></i></span>
                    </h3>
                    <ul class="dev-list-inline">
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="HTML5">
                            <i class="devicon-html5-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="CSS3">
                            <i class="devicon-css3-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="JavaScript">
                            <i class="devicon-javascript-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="Node JS">
                            <i class="devicon-nodejs-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="SASS">
                            <i class="devicon-sass-original"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="NPM">
                            <i class="devicon-npm-original-wordmark"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="Webpack">
                            <i class="devicon-webpack-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="C#">
                            <i class="devicon-csharp-line"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text=".NET Framework">
                            <i class="devicon-dot-net-plain-wordmark"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text=".NET Core">
                            <i class="devicon-dotnetcore-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="Bootstrap">
                            <i class="devicon-bootstrap-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="MSSQL">
                            <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="GIT">
                            <i class="devicon-git-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="jQuery">
                            <i class="devicon-jquery-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="Adobe Photoshop">
                            <i class="devicon-photoshop-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="Azure">
                            <i class="devicon-azure-plain"></i>
                        </li>
                        <li class="dev-list-inline-item" tabindex="0" data-tooltip="bottom" data-tooltip-text="TypeScript">
                            <i class="devicon-typescript-plain"></i>
                        </li>
                    </ul>
                </div>
                <div class="list-card">
                    <h3>{t("resume:SkillsSoftwareAndPlatforms")}</h3>
                    <div class="software-experience-list">
                        <ul>
                            <li>
                                <a href="https://www.abbyy.com/flexicapture/" target="_blank">ABBYY FlexiCapture</a>
                            </li>
                            <li>
                                <a href="https://www.abbyy.com/finereader-server/" target="_blank"> ABBYY FineReader Server</a>
                            </li>
                            <li>
                                <a href="https://www.abbyy.com/vantage/" target="_blank">ABBYY Vantage</a>
                            </li>
                            <li>
                                <a href="https://www.microsoft.com/cs-cz/microsoft-365/sharepoint/collaboration" target="_blank">Microsoft SharePoint</a>
                            </li>
                            <li>
                                <a href="https://powerplatform.microsoft.com/en-us/" target="_blank"> Microsoft PowerPlaftorm</a>
                            </li>
                            <li>
                                <a href="https://www.m-files.com/" target="_blank">M-Files</a>
                            </li>
                            <li>
                                <a href="https://www.nintex.com/process-automation/k2-software/" target="_blank"> K2 Five/K2 Cloud</a>
                            </li>
                        </ul>
                    </div>
                    <p>
                        {t("resume:SkillsSoftwareAndPlatformsDescription")}
                    </p>
                </div>
            </div>
        </section>
        <section class="resume-section" id="certifications">
            <div class="section-content">
                <h2 class="gradient-text">{t("resume:SectionCertifications")}</h2>
                <div class="certifications-list">
                    <p><Fragment set:html={t("resume:CertLinkedIn")} /></p>
                    <div class="certifications-grid">
                        <div class="cert-card">
                            <Image class="cert-card-logo" src={msftLogo} format="webp" width={150} height={32} alt="Microsoft logo" />
                            <p class="cer-card-description">Power Platform Fundamentals (PL-900)</p>
                        </div>
                        <div class="cert-card">
                            <Image class="cert-card-logo" src={msftLogo} format="webp" width={150} height={32} alt="Microsoft logo" />
                            <p class="cer-card-description">Microsoft Dynamics 365 Fundamentals (PL-900)</p>
                        </div>
                        <div class="cert-card">
                            <Image class="cert-card-logo abbyy" src={abbyyLogo} format="webp" width={110} alt="ABBYY logo" />
                            <p class="cer-card-description">FlexiCapture 12 Basic</p>
                        </div>
                        <div class="cert-card">
                            <Image class="cert-card-logo abbyy" src={abbyyLogo} format="webp" width={110} alt="ABBYY logo" />
                            <p class="cer-card-description">Vantage Certified Business Analyst</p>
                        </div>
                        <div class="cert-card">
                            <Image class="cert-card-logo nintex" src={nintextLogo} format="webp" alt="Nintex logo" width={150} height={40} />
                            <p class="cer-card-description">K2 IT Developer</p>
                        </div>
                        <div class="cert-card">
                            <Image class="cert-card-logo nintex" src={nintextLogo} format="webp" alt="Nintex logo" width={150} height={40} />
                            <p class="cer-card-description">K2 Business Analyst</p>
                        </div>
                        <div class="cert-card">
                            <Image class="cert-card-logo nintex" src={nintextLogo} format="webp" alt="Nintex logo" width={150} height={40} />
                            <p class="cer-card-description">K2 Citizen Developer</p>
                        </div>
                        <div class="cert-card">
                            <Image class="cert-card-logo" src={mfilesLogo} format="webp" width={150} alt="M-Files Corporation logo" />
                            <p class="cer-card-description">M-Files Solution Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="resume-setion" id="experience">
            <div class="section-content timeline">
                <h2 class="gradient-text">{t("resume:TimelineTitle")}</h2>
                <Timeline />
            </div>
        </section>
    </main>
</MainLayout>

<style>
    h2 {
        position: relative;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: rgba(var(--accent-resume), 1);
        padding-bottom: 1rem;
        i {
            display: inline-block;
            color: white;
            margin-left: 10px;
        }
    }

    section {
        scroll-margin-top: 3rem;
    }

    .hero-container {
        display: grid;
        gap: 0.5rem;
        padding-bottom: 1rem;
        scroll-margin-top: 200px;
        align-items: center;
        min-height: calc(100svh - 4rem); /* Header padding */
    }

    .hero-title-wrapper > p {
        font-weight: 800;
        letter-spacing: 0.35rem;
        margin-top: 1rem;
        position: relative;
        font-size: min(3vw, 1rem);
        width: max-content;
    }

    .hero-title-wrapper > p::after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        animation: typing 1s steps(19) forwards;
        animation-delay: 400ms;
        background-color: var(--bg-color);
    }

    .hero-title {
        display: inline-flex;
        font-size: min(15vw, 7rem);
        position: relative;
        margin-bottom: 1rem;
        margin-left: -0.3rem;
        font-weight: normal;
    }

    .hero-title::before {
        content: "";
        position: absolute;
        left: 0.3rem;
        height: 2px;
        width: 50%;
        background-color: rgba(var(--accent-resume), 1);
        bottom: -1.25rem;
        transform: scaleX(0);
        animation: scaleUpX 300ms ease-in-out forwards 300ms;
        transform-origin: left;
    }

    .profile-picture-wrapper {
        position: relative;
        width: clamp(140px, 40vw, 220px);
        height: clamp(140px, 40vw, 220px);
        border-radius: 50%;
        margin-bottom: 2rem;
        margin-left: 0.2rem;
        box-shadow:
            0px 5px 30px 0px rgba(var(--accent-resume), 0.8),
            0px 0px 0px 7px rgba(var(--accent-resume), 0.5);
    }

    .profile-picture {
        display: block;
        object-fit: cover;
        border-radius: inherit;
    }

    .section-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        padding-bottom: 0.5rem;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        gap: 1rem;
    }

    .intro-projects .skill-level {
        display: flex;
        color: rgba(var(--accent-resume), 1);
    }

    .intro-projects .skill-level span {
        font-size: 1rem;
    }

    .intro-projects .content {
        display: flex;
        flex-direction: column;
    }

    .intro-summary {
        width: 100%;
    }

    .bars {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        width: 100%;

        @media (max-width: 800px) {
            grid-auto-flow: row;
        }

        .bar {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            flex: 1 1 0px;

            .fill {
                height: 3px;
                background: rgba(255, 255, 255, 0.5);
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: var(--width);
                    height: 100%;
                    background: rgba(var(--accent-resume), 1);
                }
            }
        }
    }

    .list-card {
        margin-top: 1rem;
    }

    .list-card.exp {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 1rem;
    }

    .list-card.exp .exp-text,
    .list-card span {
        color: var(--accent-color);
        font-weight: 600;
    }

    .list-card.exp .exp-text {
        text-align: center;
        font-size: 1.1rem;
    }

    .list-card.exp .exp-description span {
        font-weight: inherit;
    }

    .list-card p {
        padding-top: 1rem;
    }

    .dev-list-inline {
        margin: 0;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .dev-list-inline .dev-list-inline-item {
        font-size: 3rem;
        transition: all 300ms;
        color: var(--dev-icon-color);
    }

    .dev-list-inline .dev-list-inline-item:hover,
    .dev-list-inline .dev-list-inline-item:focus {
        transform: scale(1.05);
        color: rgba(var(--accent-resume), 1);
        text-shadow: 0px 0px 2px rgb(0, 0, 0, 0.3);
    }

    .software-experience-list {
        display: flex;

        & ul {
            list-style: circle;
            margin-left: 1rem;
            line-height: 22px;
        }
    }

    .certifications-list {
        display: grid;
        gap: 1rem;
    }

    .certifications-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
        gap: 2rem;
    }

    @media (max-width: 768px) {
        .certifications-grid {
            gap: 1rem;
        }
    }

    @media (max-width: 480px) {
        .certifications-grid {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            gap: 1rem;
        }
    }

    .cert-card {
        height: 150px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: var(--resume-card-bg);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }

    .cert-card p {
        margin: 0;
        max-width: 90%;
        text-align: center;
    }

    .cert-card-logo {
        max-width: 170px;
        max-height: 50px;
        width: auto;
        height: auto;
    }

    @media (max-width: 768px) {
        .cert-card {
            gap: 1rem;
        }

        .cert-card p {
            margin: 0;
            max-width: 90%;
            text-align: center;
            font-size: 0.8rem;
        }

        .cert-card-logo:not(.nintex) {
            width: 125px;
            height: 25px;
        }

        .cert-card-logo.nintex {
            width: 130px;
        }

        .cert-card-logo.abbyy {
            width: 120px;
            height: unset;
        }
    }
</style>
