---
import * as m from "@daliborhon.dev/integrations/astro-i18n/messages";

interface Props {
	title: string;
	date?: string;
	description?: string;
	filter?: Value[];
	meta?: Value[];
}

type Value = {
	name: string;
	value: string;
};

const { title, date, filter, description, meta } = Astro.props;
---

<div aria-hidden="true" hidden data-pagefind-body>
	<span title={title} data-pagefind-meta="title[title]"></span>
	{date && <span data-meta-date={date} data-pagefind-meta={`${m.common__date()}[data-meta-date]`} />}
	{
		filter &&
			filter.map((f) => {
				return (
					<>
						<span data-pagefind-filter={`${f.name}:${f.value}`} />
					</>
				);
			})
	}
	{
		meta &&
			meta.map((meta) => {
				return (
					<>
						<span data-pagefind-meta={`${meta.name}:${meta.value}`} />
					</>
				);
			})
	}
	<div class="meta-search">
		<p>{title}</p>
		{description && <span>{description}</span>}
	</div>
</div>
