---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import PostsGrid from "@components/astro/blog/PostsGrid.astro";
import BreadCrumbsItem from "@components/astro/common/BreadCrumbsItem.astro";
import Section from "@components/astro/common/Section.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { m } from "@paraglide/messages";
import { getPostsByTag, getSortedTags } from "@utils/content";
import { Icon } from "astro-icon/components";
import Grid from "@/src/components/astro/common/Grid.astro";
import type { CollectionEntry } from "astro:content";
import Card from "@components/astro/common/Card.astro";

export { getStaticPaths } from "@utils/i18n";

const locale = Astro.currentLocale!;

const layoutProps = {
	title: `Blog - ${m.blog__tags()}`,
	description: m.blog__blog_site_description(),
};

const posts = await getCollection("posts");
const tags = await getSortedTags();

type TagsWithPosts = {
	tag: CollectionEntry<"tags">;
	posts: number;
};
const tagsWithPosts: TagsWithPosts[] = await Promise.all(
	tags.map(async (tag) => {
		const count = (await getPostsByTag(locale, tag.id))?.length ?? 0;
		return {
			tag,
			posts: count,
		};
	}),
);

const maxCount = Math.max(...tagsWithPosts.map((t) => t.posts));
---

<PageLayout {...layoutProps} showCrumbs>
	<Fragment slot="crumbs">
		<BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog")} label="Blog" />
		<BreadCrumbsItem currentPage={true} label={m.blog__tags()} />
	</Fragment>
	<Section id="tags" isFirstSection title={m.blog__tags()} description={m.blog__tags_desctiption()}>
		{tags && tags.length === 0 && <p>{m.blog__no_tags()}</p>}
		{
			tags && tags.length !== 0 && (
				<Fragment>
					<div class="mb-2">
						<div class="badge badge-primary">{m.blog__tags()}: {tags.length}</div>
						<div class="badge badge-primary">{m.blog__posts()}: {posts.length}</div>
					</div>
					<Grid items={tagsWithPosts}>
						{(item: TagsWithPosts) => (
							<Card>
								<div class="card-body flex gap-2">
									<div class="flex flex-row items-center justify-between">
										<a
											class={`link link-hover has-icon icon-left gap-1 font-mono text-xl`}
											href={getRelativeLocaleUrl(locale, `/blog/tags/${item.tag.id}/`)}
											aria-label={item.tag.id + m.blog__tag()}
										>
											<span>
												<Icon name="heroicons:tag-solid" size="18" />
											</span>
											<span>{item.tag.id}</span>
										</a>
										<div class="flex flex-col text-center">
											<span class="text-primary text-xl">{item.posts}</span>
											<span>{m.blog__posts()}</span>
										</div>
									</div>

									<progress class="progress progress-primary w-full" value={Math.max((item.posts / maxCount) * 100)} max="100" />
								</div>
							</Card>
						)}
					</Grid>
				</Fragment>
			)
		}
	</Section>
</PageLayout>
