---
import { APP_VERSION_NAME } from "astro:env/client";
import { getRelativeLocaleUrl } from "astro:i18n";
import UptimeStatus from "@components/astro/common/UptimeStatus.astro";
import UptimeStatusFallback from "@components/astro/common/UptimeStatusFallback.astro";
import { m } from "@paraglide/messages";
import { removeTrailingSlash } from "@utils";
import { Icon } from "astro-icon/components";
import ExternalLink from "./ExternalLink.astro";

const locale = Astro.currentLocale!;

function getVersionData() {
	if (APP_VERSION_NAME) {
		const href = `https://github.com/dallyh/daliborhon.dev/releases/tag/${APP_VERSION_NAME}`;
		return {
			version: APP_VERSION_NAME,
			url: href,
		};
	}

	return {
		version: m.common__repository(),
		url: "https://github.com/dallyh/daliborhon.dev",
	};
}

const data = getVersionData();
---

<div id="page-footer">
	<div class="divider"></div>
	<footer class="footer mb-4 flex w-full flex-col items-center justify-center rounded-xl p-4 md:flex-row md:justify-between">
		<nav class="footer-start flex flex-wrap items-center justify-center gap-4 md:place-self-center md:justify-self-end">
			<UptimeStatus server:defer>
				<UptimeStatusFallback slot="fallback" />
			</UptimeStatus>
			<a class="link text-amber-500 no-underline hover:no-underline" href={removeTrailingSlash(getRelativeLocaleUrl(locale, "/rss.xml"))} title="RSS" aria-label="rss" class="rss">
				<Icon name="heroicons:rss-solid" size="18" />
			</a>
			<a class="link text-primary/80 no-underline hover:no-underline" href={getRelativeLocaleUrl(locale, "/analytics")}>
				<Icon name="heroicons:chart-bar-solid" size="18" />
			</a>
			<a class="astro" href="https://astro.build" title={m.footer__astro_a_label()} class="astro" target="_blank">
				<Icon name="astro-icon-dark" width="55px" height="20px" />
			</a>
			<a class="zerops" href="https://zerops.io" title="zerops.io" class="zerops" target="_blank">
				<Icon name="zerops-logo-symbol" width="64px" height="25px" />
			</a>
		</nav>
		<aside class="flex w-full flex-col items-center justify-center gap-1 md:w-auto">
			<span>© {new Date().getFullYear()} - Dalibor Hon</span>
			<div class="flex items-center justify-center gap-2">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
					><line x1="3" x2="9" y1="12" y2="12"></line><line x1="15" x2="21" y1="12" y2="12"></line><circle cx="12" cy="12" r="3"></circle></svg
				>
				<span class="text-center text-sm">
					<ExternalLink href={data.url} title={m.common__repository()} class="link link-hover-reverse" aria-label={m.common__repository()}>
						{data.version}
					</ExternalLink>
				</span>
			</div>
		</aside>
	</footer>
</div>
