---
// Credits: https://github.com/yassinedoghri/astro-i18next/blob/beta/src/components/LanguageSelector.astro
// Edited for this project needs.

import { getLocale, getPathFromUrl } from "@i18n/utils";
import ISO6991 from "iso-639-1";
import { locales } from "@config/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { CollectionEntry } from "astro:content";
import { getBlogPostByIdAndLocale } from "@utils/getBlogPostByIdAndLocale";
import { getBlogPostUrl } from "@utils/getBlogPostUrl";
import { loadNamespaces, t } from "@i18n/i18n";
import { Icon } from "astro-icon/components";

interface Props {
    post?: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const currentLocale = getLocale(Astro.url);
const capitalizeFirstLetter = (str: string) => {
    const capitalized = str.charAt(0).toUpperCase() + str.slice(1);
    return capitalized;
};

await loadNamespaces(currentLocale, ["common"]);
---

<lang-select>
    <label>
        <Icon name="bi:translate" />
        <select>
            {
                !post &&
                    locales.map((locale) => {
                        const value = getRelativeLocaleUrl(locale, getPathFromUrl(Astro.url));
                        const nativeName = capitalizeFirstLetter(ISO6991.getNativeName(locale));
                        const current = currentLocale === locale;

                        return (
                            <>
                                <option selected={current} data-js-language={locale} value={value}>
                                    {nativeName}
                                </option>
                            </>
                        );
                    })
            }

            {
                post &&
                    locales.map(async (locale) => {
                        const currentPost = await getBlogPostByIdAndLocale(locale, post.data.postId);
                        const value = getBlogPostUrl(locale, currentPost);
                        const nativeName = capitalizeFirstLetter(ISO6991.getNativeName(locale));
                        const current = currentLocale === locale;

                        return (
                            <>
                                <option selected={current} data-js-language={locale} value={value}>
                                    {nativeName}
                                </option>
                            </>
                        );
                    })
            }
        </select>
    </label>
</lang-select>

<style>
    lang-select {
        display: contents;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        pointer-events: all;
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }

        select {
            border: 0;
            padding-block: 1rem;
            padding-inline: 1.5rem 1rem;
            background-color: transparent;
            text-overflow: ellipsis;
            color: inherit;
            appearance: none;

            @media (max-width: 768px) {
                width: 0;
                padding: 1rem;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0.2rem;
            display: inline-block;
            border-bottom: 2px solid var(--body-color);
            border-right: 2px solid var(--body-color);
            height: 6px;
            width: 6px;
            transform: rotate(45deg) translateY(-70%);
            pointer-events: none;
        }

        &:hover,
        &:focus-visible,
        &:focus-within {
            color: rgba(var(--accent), 1);

            &::after {
                border-bottom: 2px solid rgba(var(--accent), 1);
                border-right: 2px solid rgba(var(--accent), 1);
            }
        }

        option {
            background-color: rgba(var(--secondary), 1);
            color: var(--body-color);
            padding: 1rem;
        }
    }
</style>

<script>
    import { navigate } from "astro:transitions/client";
    class LanguageSelect extends HTMLElement {
        constructor() {
            super();
            const select = this.querySelector("select");
            if (select) {
                select.addEventListener("change", (e) => {
                    if (e.currentTarget instanceof HTMLSelectElement) {
                        navigate(e.currentTarget.value);
                    }
                });
            }
        }
    }
    customElements.define("lang-select", LanguageSelect);
</script>
