---
import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "$messages";
import { Icon } from "astro-icon/components";
import LanguageSelector from "./LanguageSelector.astro";
import Search from "./Search.astro";
import ThemeSelect from "./ThemeSelect.astro";

interface Props {
	post?: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const locale = Astro.currentLocale!;
---

<div class="drawer z-50 sticky top-0">
	<input id="drawerMenu" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content flex flex-col">
		<!-- Navbar -->
		<div class="mx-auto navbar lg:rounded-box bg-base-200 max-w-[1344px] lg:mt-2 lg:mb-2 shadow-md">
			<div class="flex-none lg:hidden">
				<label for="drawerMenu" aria-label="open sidebar" class="btn btn-square btn-ghost">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-6 w-6 stroke-current">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
					</svg>
				</label>
			</div>
			<div class="navbar-start">
				<a class="btn btn-ghost text-xl" href={getRelativeLocaleUrl(locale, "/")} title={m.common__home()} aria-label={m.common__home()}>
					<Icon class="logo" name="dh-logo" size={28} />
				</a>
				<div class="hidden lg:flex">
					<ul class="menu menu-horizontal px-1 z-50">
						<li>
							<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/")} aria-label={m.common__home()}>
								{m.common__home()}
							</a>
						</li>
						<li class="dropdown dropdown-hover">
							<a href={getRelativeLocaleUrl(locale, "/blog")} aria-label={m.common__blog()}>
								{m.common__blog()}
							</a>
							<ul class="dropdown-content menu bg-base-200 rounded-box w-52 p-2 shadow">
								<li>
									<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/blog/posts/")} aria-label={m.blog__all_posts_title()}>
										{m.blog__all_posts_title()}
									</a>
								</li>
								<li>
									<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/blog/posts/featured")} aria-label={m.blog__featured_posts_title()}>
										{m.blog__featured_posts_title()}
									</a>
								</li>
								<li>
									<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/blog/tags")} aria-label={m.blog__tags()}>
										{m.blog__tags()}
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/projects")} aria-label={m.projects__projects()}>
								{m.projects__projects()}
							</a>
						</li>

						<li class="dropdown dropdown-hover">
							<a href={getRelativeLocaleUrl(locale, "/about")} aria-label={m.common__about()}>
								{m.common__about()}
							</a>
							<ul class="dropdown-content menu bg-base-200 rounded-box w-52 p-2 shadow">
								<li>
									<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/about/resume")} aria-label={m.common__resume()}>
										{m.common__resume()}
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="navbar-end gap-2 hidden lg:flex">
				<Search />
				<LanguageSelector post={post} />
				<ThemeSelect />
			</div>
		</div>
	</div>
	<div class="drawer-side">
		<label for="drawerMenu" aria-label="close sidebar" class="drawer-overlay"></label>
		<aside class="bg-base-200 min-h-screen w-72 p-4">
			<Search inDrawer />
			<div class="mb-4"></div>
			<ul class="menu p-0">
				<li>
					<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/")} aria-label={m.common__home()}>
						{m.common__home()}
					</a>
				</li>
				<li>
					<a class="navbar-link" href={getRelativeLocaleUrl(locale, "/blog")} aria-label={m.common__blog()}>
						{m.common__blog()}
					</a>
					<ul>
						<li>
							<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/blog/posts/")} aria-label={m.blog__all_posts_title()}>
								{m.blog__all_posts_title()}
							</a>
						</li>
						<li>
							<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/blog/posts/featured")} aria-label={m.blog__featured_posts_title()}>
								{m.blog__featured_posts_title()}
							</a>
						</li>
						<li>
							<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/blog/tags")} aria-label={m.blog__tags()}>
								{m.blog__tags()}
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/projects")} aria-label={m.projects__projects()}>
						{m.projects__projects()}
					</a>
				</li>
				<li>
					<a class="navbar-link" href={getRelativeLocaleUrl(locale, "/about")} aria-label={m.common__about()}>
						{m.common__about()}
					</a>
					<ul>
						<li>
							<a class="navbar-item" href={getRelativeLocaleUrl(locale, "/about/resume")} aria-label={m.common__resume()}>
								{m.common__resume()}
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="divider"></div>
			<div class="flex gap-4 flex-col items-center">
				<LanguageSelector post={post} />
				<ThemeSelect />
			</div>
		</aside>
	</div>
</div>

<script>
	class Navigation extends HTMLElement {
		connectedCallback() {
			const navbarBurger = this.querySelector<HTMLAnchorElement>(".navbar-burger");

			if (!navbarBurger) {
				console.warn("Navigation: No .navbar-burger element found within the component.");
				return;
			}

			navbarBurger.addEventListener("click", () => {
				const target = navbarBurger.dataset.target;

				const targetElement = this.querySelector(`#${target}`);

				if (!target || !targetElement) {
					console.warn("Navigation: Missing target element or data-target attribute.");
					return;
				}

				navbarBurger.classList.toggle("is-active");
				targetElement.classList.toggle("is-active");
			});
		}
	}

	customElements.define("site-navigation", Navigation);
</script>
