---
type Heading = "h2" | "h3" | "h4";

export interface Props {
	sectionTitle?: string;
	sectionDescription?: string;
	isFirstSection?: boolean;
	isInsideSection?: boolean;
	heading?: Heading;
	id: string;
}

const { sectionTitle, sectionDescription = null, id, isFirstSection = false, heading = "h2", isInsideSection = false } = Astro.props;
---

<section class={`${isInsideSection === false ? "section" : "block"}`} id={id}>
	{
		sectionTitle && (
			<Fragment>
				{isFirstSection && <h1 class={`title is-3 ${sectionDescription === null ? "mb-5" : ""}`}>{sectionTitle}</h1>}
				{!isFirstSection && heading === "h2" && <h2 class={`title ${isInsideSection ? "is-4" : "is-3 " } ${sectionDescription === null ? "mb-5" : ""}`}>{sectionTitle}</h2>}
				{!isFirstSection && heading === "h3" && <h3 class={`title is-4 ${sectionDescription === null ? "mb-5" : ""}`}>{sectionTitle}</h3>}
				{!isFirstSection && heading === "h4" && <h4 class={`title is-5 ${sectionDescription === null ? "mb-5" : ""}`}>{sectionTitle}</h4>}
			</Fragment>
		)
	}
	{sectionDescription && <p class="subtitle is-6">{sectionDescription}</p>}
	<div>
		<slot />
	</div>
</section>
