---
type Heading = "h2" | "h3" | "h4";

export interface Props {
	sectionTitle?: string;
	sectionDescription?: string;
	isFirstSection?: boolean;
	isInsideSection?: boolean;
	heading?: Heading;
	id: string;
}

const { sectionTitle, sectionDescription = null, id, isFirstSection = false, heading = "h2", isInsideSection = false } = Astro.props;
---

<section class={`mb-8 ${isInsideSection === false ? "section" : "block"}`} id={id}>
	{
		sectionTitle && (
			<Fragment>
				{isFirstSection && <h1 class={`font-bold text-4xl ${sectionDescription === null ? "mb-5" : ""}`}>{sectionTitle}</h1>}
				{!isFirstSection && heading === "h2" && <h2 class={`font-bold ${isInsideSection ? "text-3xl" : "text-2xl "} ${sectionDescription === null ? "mb-5" : ""}`}>{sectionTitle}</h2>}
				{!isFirstSection && heading === "h3" && <h3 class={`font-bold text-xl ${sectionDescription === null ? "mb-5" : ""}`}>{sectionTitle}</h3>}
				{!isFirstSection && heading === "h4" && <h4 class={`font-bold text-lg ${sectionDescription === null ? "mb-5" : ""}`}>{sectionTitle}</h4>}
			</Fragment>
		)
	}
	{sectionDescription && <p class="mb-5">{sectionDescription}</p>}
	<slot name="subtitle" />
	<div>
		<slot />
	</div>
</section>
