---
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "$messages";
import BreadCrumbs from "@components/astro/blog/BreadCrumbs.astro";
import BreadCrumbsItem from "@components/astro/blog/BreadCrumbsItem.astro";
import PostsGrid from "@components/astro/blog/PostsGrid.astro";
import Section from "@components/astro/global/Section.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { allPostsByCategorySlugQuery } from "@services/sanity/queries/posts";
import { runQuery } from "@services/sanity/runQuery";

const { category } = Astro.params;

if (!category) {
    return new Response(null, { status: 404 });
}

const locale = Astro.currentLocale!;
const posts = await runQuery(allPostsByCategorySlugQuery, { language: locale, category });

if (posts.length === 0) {
    return new Response(null, { status: 404 });
}

const currentCategory = posts[0].categories.find((c) => {
    return c.slug === category;
});

const categoryTitle = currentCategory?.title!;
const categoryDescription = `${m.blog__posts_with_category()} ${categoryTitle.toLowerCase()}`;
const layoutProps = {
    title: `${m.blog__category()}: ${categoryTitle}`,
    description: categoryDescription,
};
---

<PageLayout {...layoutProps}>
    <BreadCrumbs>
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/")} label={m.common__home()} />
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog")} label="Blog" />
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog/categories")} label={m.blog__categories()} />
        <BreadCrumbsItem currentPage={true} label={categoryTitle} />
    </BreadCrumbs>
    <Section id="taggedPosts" isFirstSection sectionTitle={categoryDescription}>
        {!posts && <p class="category-post-list">{m.blog__no_category_posts()} 😞</p>}
        {posts && posts.length === 0 && <p class="category-post-list">{m.blog__no_category_posts()} 😞</p>}
        {posts && posts.length !== 0 && <PostsGrid posts={posts} />}
    </Section>
</PageLayout>

<style>
    ul {
        display: grid;
        grid-template-rows: 1fr;
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 468px) {
            grid-template-columns: 1fr;
        }
    }
</style>
