---
import BreadCrumbs from "@components/astro/blog/BreadCrumbs.astro";
import BreadCrumbsItem from "@components/astro/blog/BreadCrumbsItem.astro";
import PostsGrid from "@components/astro/blog/PostsGrid.astro";
import Section from "@components/astro/global/Section.astro";
import { locales } from "@i18n/config";
import * as m from "$messages";
import { getRoutingLocale } from "@i18n/utils";
import PageLayout from "@layouts/PageLayout.astro";
import { getAllBlogArticlesByTagAndLocale } from "@services/content/getAllBlogArticlesByTagAndLocale";
import { getAllTags } from "@services/content/getAllTags";
import { getRelativeLocaleUrl } from "astro:i18n";

// This is kinda complicated
export async function getStaticPaths() {
    const paths = await Promise.all(
        locales.flatMap(async (locale) => {
            const tags = await getAllTags({});

            return await Promise.all(
                tags.map(async (tag) => {
                    const posts = await getAllBlogArticlesByTagAndLocale({ locale, tagId: tag.id! });

                    if (posts === undefined || posts.length === 0) {
                        return {
                            params: { lang: getRoutingLocale(locale), tag: tag?.name },
                            props: { posts: undefined, tag: tag, locale: locale },
                        };
                    }

                    return {
                        params: { lang: getRoutingLocale(locale), tag: tag?.name },
                        props: { posts: posts, tag: tag, locale: locale },
                    };
                })
            );
        })
    );

    return paths[0];
}

const { posts, tag, locale } = Astro.props;

const tagTitle = tag.name!;
const tagDescription = `${m.blog__posts_tagged()} #${tagTitle}`;
const layoutProps = {
    title: `${m.blog__tag()}: ${tagTitle}`,
    description: tagDescription,
};
---

<PageLayout {...layoutProps}>
    <BreadCrumbs>
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/home")} label={m.common__home()} />
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog")} label="Blog" />
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog/tags/")} label={m.blog__tags()} />
        <BreadCrumbsItem currentPage={true} label={tagTitle} />
    </BreadCrumbs>
    <Section isFirstSection id="taggedPosts" sectionTitle={tagDescription}>
        {!posts && <p>{m.blog__no_tagged_posts()}</p>}
        {posts && posts.length === 0 && <p>{m.blog__no_tagged_posts()}</p>}
        {posts && posts.length !== 0 && <PostsGrid posts={posts} />}
    </Section>
</PageLayout>

<style>
    ul {
        display: grid;
        grid-template-rows: 1fr;
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 468px) {
            grid-template-columns: 1fr;
        }
    }
</style>
