---
import MainLayout from "@layouts/MainLayout.astro";
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import { getCollection } from "astro:content";
import BlogPostPreview from "@components/astro/blog/BlogPostPreview.astro";
import TagList from "@components/astro/blog/TagList.astro";
import HeadHrefLangs from "@components/astro/global/HeadHrefLangs.astro";
import Navigation from "@components/astro/global/Navigation.astro";
import Footer from "@components/astro/global/Footer.astro";
import Section from "@components/astro/global/Section.astro";
import { BLOG } from "@config/blog";
import { getStaticPaths } from "@i18n/utils";
import CategoryList from "@components/astro/blog/Category.astro";
import { getCategoryTitleByLocale } from "@utils/getCategoryByLocale";
import { getTagByLocale } from "@utils/getTagByLocale";
import { getRelativeLocaleUrl } from "astro:i18n";
import Category from "@components/astro/blog/Category.astro";
import BreadCrumbs from "@components/astro/blog/BreadCrumbs.astro";
import BreadCrumbsItem from "@components/astro/blog/BreadCrumbsItem.astro";
import RecentPosts from "@components/astro/blog/RecentPosts.astro";
import FeaturedPosts from "@components/astro/blog/FeaturedPosts.astro";

export { getStaticPaths };

// i18n
const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["blog", "common"]);

const layoutProps = {
    title: "Blog",
    description: t("blog.blog_site_description"),
};
// Tags
const tags = await getCollection("tags");

// Posts
const posts = await getCollection("posts", ({ data }) => {
    return data.language === locale && !data.hidden;
});
// Categories
const categories = await getCollection("categories");
---

<MainLayout {...layoutProps}>
    <HeadHrefLangs slot="hreflangs" />
    <Navigation title={layoutProps.title} slot="header" />
    <main>
        <BreadCrumbs>
            <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/home")} label={t("common.home")} />
            <BreadCrumbsItem currentPage={true} label="Blog" />
        </BreadCrumbs>
        <Section id="featuredPosts" sectionTitle={t("blog.featured_posts_title")} sectionDescription={t("blog.featured_posts_description")}>
            <FeaturedPosts />
        </Section>
        <Section id="recentPosts" sectionTitle={t("blog.recent_posts_title")} sectionDescription={t("blog.recent_posts_description")}>
            <RecentPosts filterFeatured={true} />
        </Section>
        <Section id="categories" sectionTitle={t("blog.categories")} sectionDescription={t("blog.categories_description")}>
            <ul class="category-list">
                {categories.map((cat) => <Category category={cat} />)}
            </ul>
        </Section>
        <Section id="tags" sectionTitle={t("blog.tags")}sectionDescription={t("blog.tags_desctiption")}>
            <ul class="tag-list">
                {
                    tags.map((tag) => (
                        <li>
                            <a href={getRelativeLocaleUrl(locale, `/blog/tags/${tag.id}/`)}>
                                <i class="bi bi-tag" />
                                {getTagByLocale(locale, tag.id)}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </Section>
    </main>
    <Footer />
</MainLayout>

<style>
    .post-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 468px) {
            grid-template-columns: 1fr;
        }
    }

    .category-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            color: var(--body-color);
            display: inline-block;

            &:visited {
                color: var(--body-color);
            }

            &:hover {
                color: rgba(var(--accent), 1);
            }
        }
    }

    .tag-list {
        width: 100%;
        display: block;

        li {
            display: inline-block;
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            padding-right: 0.5rem;

            a {
                display: inline-block;

                &:visited {
                    color: var(--a-color);
                }
            }
        }
    }
</style>
