---
import BreadCrumbs from "@components/astro/blog/BreadCrumbs.astro";
import BreadCrumbsItem from "@components/astro/blog/BreadCrumbsItem.astro";
import PostsGrid from "@components/astro/blog/PostsGrid.astro";
import PostsList from "@components/astro/blog/PostsList.astro";
import Section from "@components/astro/global/Section.astro";
import { locales } from "@config/i18n";
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale, getRoutingLocale } from "@i18n/utils";
import PageLayout from "@layouts/PageLayout.astro";
import { getAllBlogArticlesByCategoryAndLocale } from "@services/content/getAllBlogArticlesByCategoryAndLocale";
import { getAllCategoriesByLocale } from "@services/content/getAllCategoriesByLocale";
import { slugifyStr } from "@utils";
import { getRelativeLocaleUrl } from "astro:i18n";

export async function getStaticPaths() {
    const paths = await Promise.all(
        locales.flatMap(async (locale) => {
            const categories = await getAllCategoriesByLocale({ locale });

            return await Promise.all(
                categories.map(async (cat) => {
                    const posts = await getAllBlogArticlesByCategoryAndLocale({ locale, categoryName: cat?.name! });

                    if (posts === undefined || posts.length === 0) {
                        return {
                            params: { lang: getRoutingLocale(locale), category: slugifyStr(locale, cat?.name!) },
                            props: { posts: undefined, category: cat },
                        };
                    }

                    return {
                        params: { lang: getRoutingLocale(locale), category: slugifyStr(locale, cat?.name!) },
                        props: { posts: posts, category: cat },
                    };
                }),
            );
        }),
    );

    return paths[0];
}

const { posts, category } = Astro.props;

const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["blog", "common"]);

const categoryTitle = category?.name!;
const categoryDescription = `${t("blog.posts_with_category")} ${categoryTitle.toLowerCase()}`;
const layoutProps = {
    title: `${t("blog.category")}: ${categoryTitle}`,
    description: categoryDescription,
};

---


<PageLayout {...layoutProps}>
    <BreadCrumbs>
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/home")} label={t("common.home")} />
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog")} label="Blog" />
        <BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/blog/categories")} label={t("blog.categories")} />
        <BreadCrumbsItem currentPage={true} label={categoryTitle} />
    </BreadCrumbs>
    <Section id="taggedPosts" isFirstSection sectionTitle={categoryDescription}>
        {!posts && <p class="category-post-list">{t("blog.no_category_posts")} 😞</p>}
        {posts && posts.length === 0 && <p class="category-post-list">{t("blog.no_category_posts")} 😞</p>}
        {posts && posts.length !== 0 && <PostsGrid posts={posts} />}
    </Section>
</PageLayout>

<style>
    ul {
        display: grid;
        grid-template-rows: 1fr;
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 468px) {
            grid-template-columns: 1fr;
        }
    }
</style>
