---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "@daliborhon.dev/i18n/messages";
import profilePicture from "@assets/img/profile/me.png";
import BreadCrumbsItem from "@components/astro/global/BreadCrumbsItem.astro";
import SearchMeta from "@components/astro/global/SearchMeta.astro";
import Section from "@components/astro/global/Section.astro";
import SocialLinks from "@components/astro/home/SocialLinks.astro";
import ContactForm from "@components/react/ContactForm";
import type { AllowedLocales } from "@daliborhon.dev/i18n";
import type { getStaticPaths } from "@daliborhon.dev/i18n";
import PageLayout from "@layouts/PageLayout.astro";

export { getStaticPaths } from "@daliborhon.dev/i18n";

const locale = Astro.currentLocale as AllowedLocales;

const layoutProps = {
	title: m.common__about(),
	description: m.contact__leave_message_title(),
};

const searchProps = {
	title: m.common__about() + " - " + m.common__contact(),
	description: layoutProps.description,
};
---

<PageLayout {...layoutProps} showCrumbs>
	<Fragment slot="crumbs">
		<BreadCrumbsItem currentPage href={getRelativeLocaleUrl(locale, "/about")} label={m.common__about()} />
	</Fragment>
	<SearchMeta {...searchProps} />
	<Section sectionTitle={m.common__about()} id="about" isFirstSection>
		<p>
			{m.about__about_me()}
		</p>
	</Section>
	<Section sectionTitle={m.common__contact()} id="contact" heading="h2">
		<Section heading="h3" isInsideSection sectionTitle={m.common__social_links_title()} sectionDescription={m.contact__contact_me_social()} id="contactSocial">
			<SocialLinks />
		</Section>
		<Section heading="h3" isInsideSection sectionTitle={m.contact__leave_message_title()} sectionDescription={m.contact__contact_me_form()} id="contact">
			<ContactForm locale={locale} client:load transition:persist />
		</Section>
	</Section>
</PageLayout>
