---
import { getEntry, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "$messages";
import BreadCrumbsItem from "@components/astro/blog/BreadCrumbsItem.astro";
import SearchMeta from "@components/astro/global/SearchMeta.astro";
import TableOfContents from "@components/astro/global/TableOfContents.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { createResumePdfFilename, removeTrailingSlash } from "@utils";
import { Icon } from "astro-icon/components";

export { getStaticPaths } from "@i18n/utils";

const locale = Astro.currentLocale!;

const resumeEntry = (await getEntry("resume", locale)) as CollectionEntry<"resume">;
const { Content, headings } = await render(resumeEntry);

const layoutProps = {
	title: "Dalibor Hon - " + m.common__resume(),
	description: m.resume__resume_page_description(),
};

const searchProps = {
	title: m.common__resume(),
	description: layoutProps.description,
};

const resumePdfFileName = removeTrailingSlash(getRelativeLocaleUrl(locale, `/about/resume/${createResumePdfFilename(locale, true)}`));
---

<PageLayout {...layoutProps} showCrumbs>
	<Fragment slot="crumbs">
		<BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/about")} label={m.common__about()} />
		<BreadCrumbsItem currentPage href={getRelativeLocaleUrl(locale, "/resume")} label={m.common__resume()} />
	</Fragment>
	<SearchMeta {...searchProps} />
	<a class="button is-primary is-anchor floating" href={resumePdfFileName} download title={m.resume__download_cv()} aria-label={m.resume__download_cv()}>
		<Icon name="bi:filetype-pdf" />
	</a>
	<article class="content md-content section" id="content">
		<TableOfContents {headings} />
		<Content />
	</article>
</PageLayout>

<style>
	.button {
		span {
			margin-left: 0.25rem;
		}

		&.floating {
			position: fixed;
			right: 1rem;
			bottom: 1rem;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			min-width: unset;
			transform: scale(0);
			animation: showButton forwards 0.25s 0.2s ease-in;
		}

		svg {
			font-size: 1.25rem;
			display: inline-block;
		}
	}

	@keyframes showButton {
		from {
			transform: scale(0);
		}

		to {
			transform: scale(1);
		}
	}
</style>
