---
import { siteConfig } from "@daliborhon.dev/shared/frontend";
import * as m from "$messages";
import Section from "../global/Section.astro";
import PostsGrid from "./PostsGrid.astro";
import { getFeaturedBlogArticlesByLocale } from "@services/content/getFeaturedBlogArticlesByLocale";

interface Props {
    postSize?: number;
    isFirstSection?: boolean;
    showSeeAllUrl?: boolean;
}

const { postSize = siteConfig.blog.featuredPostsSize, isFirstSection = false, showSeeAllUrl = true } = Astro.props;

const locale = Astro.currentLocale!;

const posts = await getFeaturedBlogArticlesByLocale({ locale, first: postSize });

const sectionProps = {
    id: "featuredPosts",
    isFirstSection,
    sectionTitle: m.blog__featured_posts_title(),
    sectionDescription: m.blog__featured_posts_description(),
};
---

<Section {...sectionProps}>
    {!posts && <p>{m.blog__no_featured_posts()} 😞</p>}
    {posts && posts.length === 0 && <p>{m.blog__no_featured_posts()} 😞</p>}
    {
        posts && posts.length !== 0 && (
            <>
                {showSeeAllUrl && <PostsGrid posts={posts} url="/blog/posts/featured" urlDescription={m.blog__see_all_featured()} />}
                {!showSeeAllUrl && <PostsGrid posts={posts} />}
            </>
        )
    }
</Section>
