---
import * as m from "$messages";
import { recentPostsQuery } from "@services/sanity/queries/posts";
import { runQuery } from "@services/sanity/runQuery";
import Section from "../global/Section.astro";
import PostsGrid from "./PostsGrid.astro";

interface Props {
	postSize?: number;
	filterFeatured?: boolean;
	showSeeAllUrl?: boolean;
}

const { postSize, filterFeatured = false, showSeeAllUrl = true } = Astro.props;

const locale = Astro.currentLocale!;

//Blogs
const query = recentPostsQuery(postSize);
let posts = await runQuery(query, { language: locale });

if (filterFeatured) {
	posts = posts?.filter((post) => {
		return post?.featured === false || post?.featured === undefined;
	});
}

const sectionProps = {
	id: "recentPosts",
	sectionTitle: m.blog__recent_posts_title(),
	sectionDescription: m.blog__recent_posts_description(),
};
---

<Section {...sectionProps}>
	{!posts && <p>{m.blog__no_posts()} 😞</p>}
	{posts && posts.length === 0 && <p>{m.blog__no_posts()} 😞</p>}
	{
		posts && posts.length !== 0 && (
			<>
				{showSeeAllUrl && <PostsGrid posts={posts} url="/blog/posts/" urlDescription={m.blog__see_all_posts()} />}
				{!showSeeAllUrl && <PostsGrid posts={posts} />}
			</>
		)
	}
</Section>
