---
import FormattedDate from "@components/astro/global/FormattedDate.astro";
import MainLayout from "./MainLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getLocale } from "@i18n/utils";
interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const locale = getLocale(Astro.url);
---

<MainLayout title={post.data.title}>
    <h1>{post.data.title}</h1>
    <p>Written by {post.data.author}</p>
    <p>Published on: <FormattedDate date={post.data.pubDate} locale={locale}/></p>
    <img src={post.data.image.url} width="300" alt={post.data.image.alt} />
    <slot />
    <div class="tags">
        {
            post.data.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/blog/tags/${tag}/`}>{tag}</a>
                </p>
            ))
        }
    </div>
</MainLayout>
