---
import { ViewTransitions } from "astro:transitions";
import HeadHrefLangs from "@components/astro/global/HeadHrefLangs.astro";
import BrowserWarning from "@components/astro/global/BrowserWarning.astro";
import { getLocale } from "astro-i18n-aut";
import ContactModal from "@components/astro/global/ContactModal.astro";
import ogImage from "@assets/img/og/og-image.webp";
import Navigation from "@components/astro/global/Navigation.astro";
import Footer from "@components/astro/global/Footer.astro";

// Global CSS
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/keyframes.css";
import type { MarkdownContent } from "astro";
import MainLayout from "./MainLayout.astro";

interface Props {
    frontmatter: any;
}

const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <slot />
    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</MainLayout>
