---
import MainLayout from "@layouts/MainLayout.astro";
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import { type CollectionEntry } from "astro:content";
import type { Page } from "astro";
import BlogPostPreview from "@components/astro/blog/BlogPostPreview.astro";
import TagList from "@components/astro/blog/TagList.astro";
import { getBlogPostUrl } from "@utils/getBlogPostUrl";
import { getUniqueTags } from "@utils/getUniqueTags";
import HeadHrefLangs from "@components/astro/global/HeadHrefLangs.astro";
import Navigation from "@components/astro/global/Navigation.astro";
import Footer from "@components/astro/global/Footer.astro";
import Section from "@components/astro/global/Section.astro";

interface Props {
    page: Page<CollectionEntry<"posts">>;
}

const { page } = Astro.props;

// i18n
const locale = getLocale(Astro.url);
const namespaces = ["blog"];
await loadNamespaces(locale, namespaces);

const layoutProps = {
    title: "Blog - Dalibor Hon",
    description: t("landing:description"),
};
const uniqueTags = await getUniqueTags(locale);
---

<MainLayout {...layoutProps}>
    <HeadHrefLangs slot="hreflangs" />
    <Navigation title={layoutProps.title} slot="header" />
    <main>
        <Section id="blogs" sectionTitle="All posts">
            <div class="paginated-posts">
                <ul class="post-list">
                    {
                        page.data.map((post) => (
                            <li>
                                <BlogPostPreview post={post} url={getBlogPostUrl(locale, post.slug)} />
                            </li>
                        ))
                    }
                </ul>
                <div class="page-selector">
                    <div>
                        {
                            page.url.prev && (
                                <a href={page.url.prev}>
                                    <i class="bi bi-arrow-left" />
                                </a>
                            )
                        }
                        {!page.url.prev && <i class="bi bi-arrow-left disabled" />}
                        <p>{page.currentPage} / {page.lastPage}</p>
                        {
                            page.url.next && (
                                <a href={page.url.next}>
                                    <i class="bi bi-arrow-right" />
                                </a>
                            )
                        }
                        {!page.url.next && <i class="bi bi-arrow-right disabled" />}
                    </div>
                </div>
            </div>
        </Section>
        <Section id="tags" sectionTitle="Tags">
            <TagList tags={uniqueTags} bgColor="rgba(var(--secondary), 1)" justify="flex-start" />
        </Section>
    </main>
    <Footer />
</MainLayout>

<style>
    .post-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 468px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    .page-selector {
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            background: rgba(var(--secondary), 1);
            border-radius: 6px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

            i.disabled {
                color: rgba(255, 255, 255, 0.2);
            }
        }

        p {
            line-height: 1;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 2px;
                color: red;
            }
        }
    }

    .tag-list {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        a {
            background: rgba(var(--secondary), 1);
            padding: 0.4rem;
            border-radius: 6px;
            font-size: 0.8rem;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        }
    }
</style>
