---
import { ViewTransitions } from "astro:transitions";
import HeadHrefLangs from "../components/astro/HeadHrefLangs.astro";
import BrowserWarning from "../components/astro/BrowserWarning.astro";
import { getLocale } from "astro-i18n-aut";
import ContactModal from "../components/astro/ContactModal.astro";

// CSS
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/keyframes.css";

interface Props {
    title: string;
    showBrowserWarning?: boolean;
}

const { title, showBrowserWarning = true } = Astro.props;
const basePath = import.meta.env.BASE_URL;
const locale = getLocale(Astro.url);
---

<!doctype html>
<html lang={locale}>
    <head>
        <ViewTransitions fallback="swap" />
        <HeadHrefLangs />
        <meta charset="UTF-8" />
        <meta name="description" content="Dalibor's webpage" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href={`${basePath}favicon.ico`} />
        <link rel="icon" type="image/svg+xml" href={`${basePath}favicon.svg`} />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://use.typekit.net" />
        <link rel="stylesheet prefetch" href="https://use.typekit.net/bxg2com.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet prefetch" />
        <link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css" />
        <link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    </head>
    <body>
        {showBrowserWarning && <BrowserWarning />}
        <ContactModal />
        <slot />
        <script>
            import DropdownHandler from "../scripts/dropdown";
            import { initializeTooltips } from "../scripts/tooltips";

            document.addEventListener(
                "astro:page-load",
                (e) => {
                    DropdownHandler.init();
                    initializeTooltips();
                },
                { once: false },
            );
        </script>
    </body>
</html>
