---
import type { CollectionEntry } from "astro:content";
import { m } from "@paraglide/messages";
import Section, { type Props as SectionProps } from "../common/Section.astro";
import PostsGrid from "./PostsGrid.astro";
import type { Page } from "astro";

interface Props {
	posts: CollectionEntry<"posts">[] | undefined;
	showSeeAllUrl?: boolean;
	sectionProps?: SectionProps;
	small?: boolean;
}

const { showSeeAllUrl = true, posts, sectionProps, small } = Astro.props;

const defaultSectionProps: SectionProps = {
	id: "featuredPosts",
	isFirstSection: false,
	sectionTitle: m.blog__featured_posts_title(),
	sectionDescription: m.blog__featured_posts_description(),
	heading: "h2",
};

const mergedSectionProps = { ...defaultSectionProps, ...sectionProps };

function isPage<T>(value: any): value is Page<T> {
	return value && value.data && Array.isArray(value.data);
}
---

<Section {...mergedSectionProps}>
	{!posts && <p>{m.blog__no_featured_posts()} 😞</p>}
	{posts && posts.length === 0 && <p>{m.blog__no_featured_posts()} 😞</p>}
	{
		posts && posts.length !== 0 && (
			<>
				{showSeeAllUrl && <PostsGrid {small} posts={posts} url="/blog/posts/featured" urlDescription={m.blog__see_all_featured()} />}
				{!showSeeAllUrl && <PostsGrid {small} posts={posts} />}
			</>
		)
	}
</Section>
