---
import type { CollectionEntry } from "astro:content";
import { m } from "@paraglide/messages";
import Section, { type Props as SectionProps } from "../common/Section.astro";
import PostsGrid from "./PostsGrid.astro";
import type { GridProps } from "../common/Grid.astro";

interface Props extends GridProps {
	posts: CollectionEntry<"posts">[] | undefined;
	sectionProps?: SectionProps;
	small?: boolean;
	filterFeatured?: boolean;
}

const { small = false, url = "/blog/posts/", urlDescription = m.blog__see_all_posts(), posts, filterFeatured = false, sectionProps, ...rest } = Astro.props;

const defaultSectionProps: SectionProps = {
	isFirstSection: false,
	id: "recentPosts",
	sectionTitle: m.blog__recent_posts_title(),
	sectionDescription: m.blog__recent_posts_description(),
	heading: "h2",
};

const mergedSectionProps = { ...defaultSectionProps, ...sectionProps };

let filteredPosts = posts;
if (filterFeatured) {
	filteredPosts = posts?.filter((post) => {
		return post?.data.featured === false || post?.data.featured === undefined;
	});
}
---

<Section {...mergedSectionProps}>
	{!filteredPosts && <p>{m.blog__no_posts()} 😞</p>}
	{filteredPosts && filteredPosts.length === 0 && <p>{m.blog__no_posts()} 😞</p>}
	{
		filteredPosts && filteredPosts.length !== 0 && (
			<>
				<PostsGrid {...rest} posts={filteredPosts} {url} {urlDescription} {small} />
			</>
		)
	}
</Section>
